.container {
    height: 98vh;
    width: 100%;
    overflow-y: scroll;
    background-color: white;
    /* background-image: linear-gradient(to right, white, white 78%, #f6fffe 22%); */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: -1px -1px 6px 0px rgba(92, 99, 103, 0.55);
    float: right;
}
