body {
    background-color: khaki !important;
}


* {
    padding: auto;
    margin: auto;
    text-align: centre;
}

.container {
    margin-top: 100px;
    text-align: center;
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.75);
    margin: 0;
}

strong {
    font-size: 15px;
    color: #333333;
    font-weight: 600;
}
