.projects-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.project-item{
  cursor: pointer;
}
.project-item-actions{
  display: flex;
  flex-direction: row;
}